@import url('https://fonts.googleapis.com/css?family=Raleway');
*{box-sizing: border-box;}
body{
	background: #313454;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	color:#fff;
	text-align: center;
	margin:0px;
	padding:0px;
}

section{display: block;}
h1{
    font-size: 3em;
    font-weight: bold;
    margin: 150px auto 10px;
}
h2{
	font-size: 1.7em;
	font-weight: normal;
	margin: 5px auto;
}
h3{
	font-size: 1.5em;
	font-weight: normal;
	margin: 10px auto;
}
h4{
    font-size: 1.3em;
    font-weight: normal;
}
h5{
	font-size: 1.1em;
	font-weight: normal;
	margin: 5px auto;
}
a{
	text-decoration: none;
	color: #fff;
}	
ul{
	margin: 0px auto;
	list-style:none;
}
.upper{text-transform: uppercase;}
.center, .text-center{text-align: center;}
.left{text-align: left;}
.bold{font-weight: bold;}
.grey{color:grey;}
.pink{color:#e84545;}
.webdings{font-family: Webdings, sans-serif;}
.clear{clear:both;}
.col-3{
	display:block;
	width: 100%;
	padding: 30px 15px;
}
ul.col-3 li, div.col-3{
	display:inline-block;
	width: 30%;
	padding: 10px 15px;
	vertical-align: middle;
}
ul.col-4{
	display:block;
	width: 100%;
	padding: 30px 15px;
}
ul.col-4 li{
	display:inline-block;
	width: 20%;
	padding: 10px 15px;
	vertical-align: middle;
}
.social-btn{
	display:block;
	position:relative;
	bottom:0;
}
.icon-set01 a, .icon-set02 a{
	display:inline-block;
	width:40px;
	height:40px;
	background-image:url(../img/icon-social.png);
}
.icon-set01 a:hover{
	box-shadow:0 0 1px #000;
}
.icon-set02 a:hover{
	box-shadow: 0 0 5px #000 inset;
}
.icon-fb01{
	background-position:0px 0px;
}
.icon-tw01{
	background-position:-40px 0px;
}
.icon-in01{
	background-position:40px 0px;
}
.icon-fb02{
	background-position:0px 40px;
}
.icon-tw02{
	background-position:-40px 40px;
}
.icon-in02{
	background-position:40px 40px;
}

/**ADD NEW STYLE BLOCK*/
	.section {
		padding: 50px 0;
		background: #fff;
	}

	.container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	.container:before{
		display: table;
		content: " ";
	}

	.container:after{
		display: table;
		content: " ";
		clear:both;
	}
	.col-md-8 {
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		margin: 0 auto;
	}

	.download h3 {
		margin-top: 0;
		font-size: 28px;
		color: #2d3033;
		font-weight: 300;
		margin-bottom: 10px;
		font-family: inherit;
		line-height: 1.1;
	}

	.download p {
		color: #2d3033;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 22.4px;
		margin: 0 0 10px;
	}
/*
	.download #btn {
		margin-top: 30px;
		padding: 15px 40px;
		background-color: #e84545;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		border: 0;
		border-radius: 2px;
		display: inline-block;
		text-transform: uppercase;
	}*/
/*END NEW STYLE BLOCK*/
/************HEADER****************/
header{
	position:relative;
	background:#313;
	background-image:url(../img/header.jpg);
	padding:5px;
	min-height: 600px;
}
nav, .content{
	display:block;
	width:1170px;
	margin:0 auto;
}
nav{
	padding: 5px 0;
	border-bottom: 1px solid #505269;
}
.logo{
	display:block;
	position: relative;
	padding: 1em 0;
	width:250px;
	height:50px;
	float:left;
	text-align: left;
}
ul.navigation {
	position: relative;
	right: 0px;
	text-align: right;
}
ul.navigation li{
	display:inline-block;
	padding: 2em 1em;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid transparent;
	font-weight: bold;
	position: relative;
	right: 0;
	}
ul.navigation li:hover{
	background: #2b2f4a;
	border-bottom: 1px solid #505269;
	cursor:pointer;
	}
/*ul.navigation li:last-child{
	padding-right: 0px;
	}*/
a.button {
	position: relative;
	display: inline-block;
	padding: 15px 20px;
	margin: 50px auto;
	background: #e84545;
	font-size:1.2em;
	font-weight: bold;
	cursor:pointer;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 20px #b93939 inset;
	-moz-box-shadow: 0 0 20px #b93939 inset;
	-o-box-shadow: 0 0 20px #b93939 inset;
	box-shadow: 0 0 20px #b93939 inset;
	-webkit-transition: 1s linear 0.5s;
	-moz-transition: 1s linear 0.5s;
	-o-transition: 1s linear 0.5s;
	transition: 1s linear 0.5s;
}
a.button:hover, a.button:focus {
	padding: 15px 20px;
	background: #b93939;
	font-size:1.3em;
	-webkit-box-shadow: 0 0 20px #c16767 inset;
	-moz-box-shadow: 0 0 20px #c16767 inset;
	-o-box-shadow: 0 0 20px #c16767 inset;
	box-shadow: 0 0 20px #c16767 inset;
}
/****************FEATURES*******************************/
.page-feature, .page-our-team{
	display:block;
	width:100%;
	background:#fff;
	color:#000;
}

.page-feature ul li, .page-our-team ul li{
	vertical-align: top;
}
.page-feature ul li>h3:before{
	display:block;
	margin:10px auto;
	content: '';
	background-image: url(../img/icon-all.png);
	}
h3.icon01:before{
	width:60px;
	height:60px;
	background-position:0px 0px;
}
h3.icon02:before{
	width:80px;
	height:60px;
	background-position:-60px 0px;
}
h3.icon03:before{
	width:60px;
	height:60px;
	background-position:0px 60px;
}
h3.icon04:before{
	width:60px;
	height: 60px;
	background-position: 0px 120px;
}
h3.icon05:before{
	width:80px;
	height:60px;
	background-position: -60px 120px;
}
h3.icon06:before{
	width: 80px;
	height:60px;
	background-position: -60px 60px;
}
/***********************WORK****************************/
.page-work{
	display:block;
	width:100%;
	background:#fff;
	padding: 0px;
	margin: 0px;
}
.row{
	width: 100%;
	margin: 0px;
	padding: 0px;
	clear: both;
}
.work{
	display: block;
	overflow:hidden;
	float: left;
	width: 25%;
	margin: 0px;
	padding: 0px;

}
.work-link {
  display: block;
  position: relative;
  padding: 0 1px;
}
.work img {
	width: 100%;
    height: 75%;
    transition: all, 0.5s; 
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
}
.work:hover img {
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3); 
}
.cover-bg, .cover-title {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cover-title {
  top: 25%;
}
.work-link:hover .cover-bg,
.work-link:hover .cover-title{
  display: block;
}
.cover-bg {
  background: #e94a4a;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.cover-title {
  color: #fff;
}
/*****************TEAM*******************************/
.team-img {
  width: 100%;
  height: 100%;
  margin-top:40px
}

/*******************FOOTER*********************/
#social{
	display:block;
	width:100%;
	background:#3a3e64;	
}
@media screen and (max-width: 1260px) and (min-width: 980px) {
ul.col-3 li, div.col-3{
	padding: 10px 5px;
}
/************HEADER****************/
header{
	min-height: 500px;
}
nav, .content{
	width:900px;
}
.logo{
	height:50px;
}
}
@media screen and (max-width: 979px) and (min-width: 600px) {
h1{
    font-size: 2.5em;
    margin: 100px auto 10px;
}
h2{
	font-size: 1.7em;
    font-weight: normal;
}
h3{
	font-size: 1.3em;
}
h4{
    font-size: 1.2em;
    font-weight: normal;
}
h5{
	font-size: 1em;
    font-weight: normal;
}
.col-3{
	padding: 20px 5px;
}
ul.col-3 li, div.col-3{
	width: 45%;
	padding: 10px 5px;
}
ul.col-4{
	padding: 20px 5px;
}
ul.col-4 li{
	width: 45%;
	padding: 10px 5px;
}
/************HEADER****************/
header{
	min-height: 500px;
}
nav, .content{
	width: 550px;
}
.logo{
	width: 100%;
	height: 30px;
}
/****************FEATURES*******************************/
/***********************WORK****************************/
.table{
	display: block;
}
.row{
	display: block;
}
.work{
	display: inline-block;
	width: 49%;
}
.cover-title {
  top: 15%;
}
/*******************SOCIAL*********************/
/*footer ul.col-3 li:last-child{
	width: 100%;
}*/
}
@media screen and (max-width: 599px) and (min-width: 300px) {
	body{
	display: block;
	width: 100%;
}
h1{
    font-size: 1.5em;
    margin: 50px auto 10px;
}
h2{
	font-size: 1.3em;
}
h3{
	font-size: 1em;
}
h4{
    font-size: 0.9em;
}
h5{
	font-size: 0.8em;
}
.col-3,ul.col-4{
	padding: 20px 5px;
}
ul.col-3 li, div.col-3, ul.col-4 li{
	width: 100%;
	padding: 0px 5px;
}
/************HEADER****************/
header{
	padding:5px;
	min-height: 400px;
}
nav, .content{
	width: 270px;
}
.logo{
	width: 100%;
	height: 30px;
}
ul.navigation {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
/****************FEATURES*******************************/
/***********************WORK****************************/
.page-work{
	display:block;
	width:100%;
	background:#fff;
	padding: 0px;
	margin: 0px;
}
.table{
	display: block;
	width: 100%;
}
.row{
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.work{
	display: block;
	width: 90%;
	margin: 0px auto;
}
.cover-title {
  top: 10%;
}
/*******************SOCIAL*********************/
}